@tailwind base;
@tailwind components;
@tailwind utilities;

.li-transition {
    @apply transition-all duration-150 ease-in-out;
}

.nav-container {
    width: 1900px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.main-container {
    width: 1300px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 640px) {
    .nav-container {
        width: 100%;
        max-width: inherit;
        margin-left: inherit;
        margin-right: inherit;
    }
}
